.cover video{
    width: 100%;
    max-width: 9909px;
    margin: auto;
    object-fit: cover;
    height: 100%;
    max-height: 600px;
    object-position: center;
}
.buddy-page .about{
    max-width: 100%;
    width: 100%;
    max-width: 1500px;
    margin: auto;
    margin-top: 120px;
}
.aboutcontainer{padding-bottom: 80px;}
.aboutgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 100%;
    width: 100%;
    max-width: 1500px;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
}
.about2{
    color: #909090;
    font-size: 12px;
}
#aboutgrid1{
    grid-template-columns: 1.8fr 0.2fr 1fr;
}
#aboutgrid1 h1{
    grid-column-start: 1;
    grid-row-start: 1;
    font-size: 74px;
    font-weight: 500;
    line-height: 92%; /* 68.08px */
    text-transform: uppercase;
    word-wrap: break-word;      /* IE 5.5-7 */
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-wrap;     
    margin: 0;
    color: #000;
}
#h6-w{ /* ajustar a responsividade ao alcançar o width da tela a partir de 1400px */
    color: #000;
    grid-column-start: 1;
    grid-row-start: 1;
    font-size: 16px;
    margin: -70px auto;
    margin-left: 5px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
} 
#aboutgrid1 h5{
    font-family: 'CommitMono', sans-serif;
    grid-column-start: 2;
    grid-column-end: 2;
    font-size: 14px;
    font-weight: 400;
}
#about2 h5{
    font-family: 'CommitMono', sans-serif;
    grid-column-start: 2;
    grid-column-end: 2;
    font-size: 14px;
    font-weight: 400;

}
#aboutgrid1 p{
    grid-column-start: 3;
    grid-column-end: 3;
    font-weight: 500;
    line-height: normal;
}
.aboutgrid h1{
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 74px;
    font-weight: 500;
    line-height: 92%; /* 68.08px */
    text-transform: uppercase;
    word-wrap: break-word;      /* IE 5.5-7 */
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-wrap;     
    margin: 80px auto;
    color: #000;
}
.aboutgrid h6{
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.buddy-page .tipografia{
    margin: 0 auto !important;
    padding: 100px 0;
    gap: 30px;
}
.buddy-page .tipo-m{
    gap: 0;
}
.tipografia h6{
    color: #292929;
    font-family: 'Neue', sans-serif;
    font-size: 10px;
    font-weight: 600;
    line-height: 120%; /* 12px */
}
label{
    color: #292929;
    font-family: 'Neue', sans-serif;
    font-size: 10px;
    font-weight: 600;
    line-height: 120%; /* 12px */
}
.about2 h6{
    margin-top: 30px;
    margin-left: 10px;
}
.h-i video{
 max-width: 226px;
}
.aboutgrid h5{
    font-family: 'CommitMono', sans-serif;
    grid-column-start: 2;
    grid-column-end: 2;
    font-size: 14px;
    font-weight: 400;
}
.aboutgrid p{
    grid-column-start: 3;
    grid-column-end: 3;
    font-weight: 500;
    line-height: normal;
}
.aboutgrid p a{text-decoration: underline;}
.about1{
    font-size: 16px;
}
#h6-m{display: none;}
.printsgrid{
    width: 100%;
    max-width: 1500px;
    margin: auto;
    height: auto;
}
.printsgrid .grid2{
    float: right;
    height: 100%;
    margin: auto 40px;
}
.grid1 {
    margin: auto 50px;
}
.frames1 {
    width: 100%;
    max-width: 9999px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.frames1 img, .frames1 video{
    width: 100%;
    max-width: 9999px;
    margin: auto;
}
.frames-l{
    position: relative;
    display: block;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    height: 750px;
}
.video-r{
    position: absolute;
    right: 0;
    max-width: 649px;
    max-height: 649px;
    border-radius: 32px;
}
.frames3{
    position: relative;
    display: flex;
}
.frames3 img, .frames3 video{
    width: 100%;
    max-width: 50vw;
}
.frames3 img{
  width: 50vw;  /*width of parent container*/
  height: auto; /*height of parent container*/
  position: relative;
}
.gif-b{
    padding: 13vw;
}
.frames4{
    width: 100%;
    max-width: 1400px;
    margin: auto;
    padding: 65px 0;
}
.frames5{
    width: 100%;
    max-width: 1400px;
    margin: auto;
    padding:65px 0 130px;
    position: relative;
    height: 1100px;
}
.frames5 img{
    position: absolute;
    right: 0;
}
.frames2 video{
    max-width: 1400px;
}
.vd-br, .frames1-sm{
    border-radius: 39px;
    max-width: 1300px;
    margin: 100px auto;
}
.frames1-sm{
    padding: 0 50px;
}
.mySwiper2{
    position:relative;
    display: flex;
    width: 100%;
    max-width: 9900px;
    margin: auto;
    overflow: hidden;
    scroll-behavior: smooth;
    cursor: grab;
}
.swiper2 {
    width: 100%;
    max-width: fit-content;
    padding-left: 13px;
    padding-right: 13px;
}
.swiper2 img{
    width: 100%;
    max-width: 800px;
}
.cred{
    display: flex;
    justify-content: center;
    padding: 25px 0;
}
.cred p{
    color: #000;
    font-size: 10px;
    font-weight: 600;
    line-height: 120%; /* 14.4px */
}
.cred a{
    color: inherit;
    text-decoration: underline;
}
@media screen and (max-width:900px) {
    .aboutgrid {
        display: flex !important;
        flex-direction: column !important;
        margin: 40px auto;
        padding: 0 24px;
        grid-template-columns: none !important;
    }
    #aboutgrid1 h1{
        font-size: 32px;
        font-weight: 500;
        margin: 0;
        margin-bottom: 16px;
    }
    #h6-w{display: none;}
    #h6-m{
        display: block;
        font-size: 16px;
        margin: 0px auto;
        margin-left: 0;
        padding-left: 0px;
        font-weight: 600;
        margin-bottom: 40px;
    }
    #aboutgrid1 h5, .about h6{
        margin-bottom: 32px;
    }
    .about2 {
        margin-top: 48px;
    }
    #aboutgrid1 h5 {
        text-align: left;
    }
    #aboutgrid1 p, .about p{
        font-family: 'Neue', sans-serif;
        font-size: 26px;
        font-weight: 400;
        line-height: 120%;
    }
    .about2 p{
        font-family: 'Neue', sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 120%;
    }
    .aboutgrid h5{
        font-size: 14px;
        margin-bottom: 24px;
    }
    .aboutgrid h6{
        margin-bottom: 32px;
        text-align: right;
    }
    #aboutgrid1 #p2-1{
        font-size: 14px
    }
    .printsgrid{
        width: 100%;
        max-width: 1500px;
        margin: auto;
        margin-bottom: 80px;
    }
    .printsgrid .grid2{
        float: right;
        height: 100%;
        margin: auto 24px;
        margin-top: 16px;
    }
    .grid1 {
        margin: auto 24px;
    }
    .grid1 img:first-child, .grid2 img:first-child {
        float: right;
        margin: auto;
        margin-bottom: 16px;
    }
    .frames3{
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .frames3 img, .frames3 video{
        width: 100%;
        max-width: 100vw;
    }
    .frames3 img{
      width: 100vw;  /*width of parent container*/
      height: auto; /*height of parent container*/
      position: relative;
    }
    .about-m-bd{
        margin-top: 0;
    }
    .vd-br, .frames1-sm{
        border-radius: 20px;
    }
    .frames-l{
        margin: 0 auto 50px;
        padding: 0 10px;
        height: 100%;
    }
    .video-r{
        position: relative;
        width: 100%;
        max-height: 649px;
        border-radius: 24px;
    }
    #h-i{
        text-align: left;
    }
    .frames5{height: 100%;}
    .frames5 img{position: relative;}
    .frames2 img, .frames4 video, .frames5 img{
        width: 100%;
    }
}