.covervideo{
    width: 100%;
    max-width: 9909px;
    margin: auto;
    object-fit: cover;
    height: 100%;
    max-height: 600px;
    object-position: center;
}
.corresclicks-page .about{
    max-width: 100%;
    width: 100%;
    max-width: 1500px;
    margin: auto;
    margin-top: 120px;
}
.aboutgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 100%;
    width: 100%;
    max-width: 1500px;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    column-gap: 20px;
}
.about2{
    color: #909090;
    font-size: 12px;
}
#aboutgrid1{
    grid-template-columns: 1.8fr 0.2fr 1fr;
}
#aboutgrid2{
    grid-template-rows: 770px;
}
#aboutgrid3{
    margin-bottom: 250px;
}
#aboutgrid3 .aboutgrid{
    display: grid;
    grid-template-columns: 1.5fr 0.5fr 1fr;
}
#aboutgrid1 h1{
    grid-column-start: 1;
    grid-row-start: 1;
    font-size: 74px;
    font-style: normal;
    font-weight: 500;
    line-height: 92%; /* 68.08px */
    text-transform: uppercase;
    word-wrap: break-word;      /* IE 5.5-7 */
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-wrap;     
    margin: 0 auto;
    color: #000;
}
#h6-w{ /* ajustar a responsividade ao alcançar o width da tela a partir de 1400px */
    color: #000;
    grid-column-start: 1;
    grid-row-start: 1;
    font-size: 16px;
    font-style: normal;
    margin: -70px auto;
    margin-left: 5px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
} 
#aboutgrid1 h5{
    font-family: 'CommitMono', sans-serif;
    grid-column-start: 2;
    grid-column-end: 2;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    width: 1fr;
    text-align: right;
    align-items: end;
}
#about2 h5{
    font-family: 'CommitMono', sans-serif;
    grid-column-start: 2;
    grid-column-end: 2;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}
#aboutgrid1 p{
    grid-column-start: 3;
    grid-column-end: 3;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.aboutgrid h1{
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 74px;
    font-style: normal;
    font-weight: 500;
    line-height: 92%; /* 68.08px */
    text-transform: uppercase;
    word-wrap: break-word;      /* IE 5.5-7 */
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-wrap;     
    margin: 80px auto;
    color: #000;
}
.aboutgrid h6{
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.tipografia{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.tipografia h6{    
    color: #292929;
    font-family: 'Neue';
    font-size: 10px;
    font-weight: 600;
    line-height: 120%; /* 12px */
}
.about2 h6{
    margin-top: 30px;
    margin-left: 10px;
}
.h-i img{
 max-width: 226px;
}
.aboutgrid h5{
    font-family: 'CommitMono', sans-serif;
    grid-column-start: 2;
    grid-column-end: 2;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}
.aboutgrid p{
    grid-column-start: 3;
    grid-column-end: 3;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.corresclicks-page .desafiogrid{
    display: flex;
    gap: 30px;
    padding-bottom: 80px;
}
.aboutgrid p a{text-decoration: underline;}
#h6-m{display: none;}
.printsgrid{
    width: 100%;
    max-width: 1500px;
    margin: auto;
    height: auto;
}
.printsgrid .grid2{
    float: right;
    height: 100%;
    margin: auto 40px;
}
.grid1 {
    margin: auto 50px;
}
.corresclicks-page .frames1 {
    width: 100%;
    max-width: 9999px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.corresclicks-page .frames1 img, .corresclicks-page video{
    width: 100%;
    max-width: 100%;
    /* margin: auto; */
}
.corresclicks-page .frames1-1{
    display: flex;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    padding: 124px 0 124px 0;
}
.corresclicks-page .frames1-1 img{width: 812px}
.corresclicks-page .frames1-3 img{width: 900px;margin: auto;}
.corresclicks-page .frames1-2{
    gap: 220px;
}
.corresclicks-page .frames-l{
    position: relative;
    display: block;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    height: 750px;
}
.corresclicks-page .frames-l img{
    position: absolute;
    right: 0;
}
.corresclicks-page .frames3, 
.corresclicks-page .frames2{
    display: flex;
}
.corresclicks-page .frames2{
    position: relative;
    height: 950px;
    width: 100%;
    max-width: 1400px;
    margin: auto;
}
.corresclicks-page .frames2 img{
    position: absolute;
    right: 0;
}
.corresclicks-page .frames3 img{
    width: 50vw;
}
.gif-b{
    padding: 5vw;
}
.corresclicks-page .frames4{
    width: 100%;
    max-width: 1400px;
    margin: auto;
    padding: 130px 0;
}
.corresclicks-page .frames5{
    width: 100%;
    max-width: 1400px;
    margin: auto;
    padding:0 0 130px;
    position: relative;
    height: 50vw;
}
.corresclicks-page .frames5 img{
    position: absolute;
    right: 0;
}
.ab-vid{
    max-width: 440px;
}
.mySwiper2{
    position:relative;
    display: flex;
    width: 100%;
    max-width: 9900px;
    margin: auto;
    overflow: hidden;
    scroll-behavior: smooth;
    cursor: grab;
}
.swiper2 {
    width: 100%;
    max-width: fit-content;
}
.swiper2 img{
    width: 100vw;
}
@media screen and (max-width:900px) {
    .aboutgrid {
        display: flex !important;
        flex-direction: column !important;
        grid-template-columns: none !important;
        margin: 40px auto;
        padding: 0 24px;
    }
    #aboutgrid1 h1{
        font-size: 32px;
        font-weight: 500;
        margin: 0;
        margin-bottom: 16px;
    }
    #h6-w{display: none;}
    #h6-m{
        display: block;
        font-size: 16px;
        margin: 0px auto;
        margin-left: 0;
        padding-left: 0px;
        font-weight: 600;
        margin-bottom: 40px;
    }
    #aboutgrid1 h5, .about h6{
        margin-bottom: 32px;
    }
    .about2 {
        margin-top: 48px;
    }
    #aboutgrid1 p, .about p{
        font-family: 'Neue', sans-serif;
        font-size: 26px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
    }
    .about2 p{
        font-family: 'Neue', sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 120%;
    }
    .aboutgrid h5{
        font-size: 14px;
        margin-bottom: 24px;
    }
    .aboutgrid h6{
        margin-bottom: 32px;
        text-align: right;
    }
    #aboutgrid1 #p2-1{
        font-size: 14px
    }
    .printsgrid{
        width: 100%;
        max-width: 1500px;
        margin: auto;
        margin-bottom: 80px;
    }
    .printsgrid .grid2{
        float: right;
        height: 100%;
        margin: auto 24px;
        margin-top: 16px;
    }
    .grid1 {
        margin: auto 24px;
    }
    .grid1 img:first-child, .grid2 img:first-child {
        float: right;
        margin: auto;
        margin-bottom: 16px;
    }
    .corresclicks-page .frames2 img, .corresclicks-page .frames4 img, .corresclicks-page .frames1-1 img, .corresclicks-page .frames5 img, video{
        width: 100%;
    }
    .ab-vid{
        width: 100%;
        max-width: 500px;
        margin: auto;
        padding: 0;
        position: absolute;
        margin-top: 400px;
    }
    #aboutgrid3{
        display: flex;
        flex-direction: column;
        margin-bottom: 650px;
    }
    #aboutgrid3 .aboutgrid{
        display: flex !important;
        flex-direction: column !important;
        grid-template-columns: none !important;
        margin: 60px auto;
        padding: 0;
    }
    #aboutgrid3 .aboutgrid h5, 
    #aboutgrid3 .aboutgrid p{padding-left: 20px;
    }
}