@font-face {
    font-family: 'Neue';
    src:
    local('Neue Haas Grotesk Display Pro');
    src: url('/fonts/NeueHaasDisplay-Roman.eot') format('truetype');
    src: url('/fonts/NHAASGROTESKTXPRO65MD.eot?#iefix') format('embedded-opentype');
    src:url('/fonts/NeueHaasDisplay-Roman.eot'),
         url('/fonts/NeueHaasDisplay-Roman.woff') format('woff'),
         url('/fonts/NeueHaasDisplay-Roman.woff2') format('woff2'),
         url('/fonts/NeueHaasDisplay-Roman.svg') format('svg');
}
@font-face {
  font-family: 'CommitMono';
  src:
  local('CommitMono');
  src: url('/fonts/CommitMono-Regular.eot') format('truetype');
  src: url('/fonts/CommitMono-Regular.eot?#iefix') format('embedded-opentype');
  src:url('/fonts/CommitMono-Regular.eot'),
       url('/fonts/CommitMono-Regular.woff') format('woff'),
       url('/fonts/CommitMono-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
body{
    font-family: 'Neue', sans-serif;
    background: white;
    font-family: "Neue Haas Grotesk Display Pro";
}
.about1 p, #about1, .about1{
    font-size: 16px;
}