.seta{
    background-color: white;
    width: 100%;
    max-width: 3999px;
    margin: auto;
    justify-content: center;
    text-align: center;
    padding: 30px 0;
    border-bottom: 1px solid #000;
}
.seta a{
    width: 100%;
    max-width: 9999px;
    margin: auto;
}
.setah{
    border-top: 1px solid #000;
    margin-top: 150px;
}
footer{
    font-family: 'Neue', sans-serif;
    background: black;
    padding: 36px 36px 0px;
}
.contact {
    font-family: 'Neue', sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1500px;
    margin: auto;
    background: #000;
    color: #9A9A9A;
    margin-bottom: 190px;
    padding-top: 50px;
    padding-left: 50px;
}
.contact h6 {
    color: #8B8B8B;
    font-size: 16px;
    width: 100%;
    max-width: 300px;
    font-weight: 600;
    text-transform: uppercase;
}
.contactlink{
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    text-align: right;
    margin-right: 0;
    right: 0;
    padding-right: 50px;
    float: right;
}
.contactlink p{
    max-width: 350px;
    text-align: left;
}
.contactlink a{
    color: #8B8B8B;
    display: flex;
    border: 1px solid #8B8B8B;
    width: 100%;
    max-width: 127px;
    padding: 8px 20px;
    font-size: 14px;
    line-height: 120%;
    border-radius: 32px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    margin-top: 32px;
    align-items: center;
    gap: 16px;
}
.signatureH {
    display: inline-block;
    text-transform: uppercase;
    color: #282828;
    margin: 0px auto;
    padding: 0px;
    font-style: normal;
    font-weight: 500;
    max-width: 100%;
    width: 100vw;
    background: black;
    font-size: 21vw;
}
.h6footer2{display: none;}
/* swiper pag works - //OUTROS PROJETOS */
swiper-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}
.mySwiper1{
    position:relative;
    display: flex;
    width: 100%;
    max-width: 9900px;
    margin: auto;
    overflow: hidden;
    scroll-behavior: smooth;
    cursor: grab;
    margin-bottom: 90px;
}
.swiper1 {
  width: 340px;
}
.swiper1 .slide1 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.swiper1 .slide1 a{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
  padding: 0 20px;
  color: #292929;
  text-decoration: none;
}
.swiper1 .slide1 img{
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0;
}
.swiper1 .slide1 h2{
  font-family: 'Neue', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
  margin-top: 16px;
  margin-bottom: 8px;
  color: #292929;
  text-transform: uppercase;
}
.swiper1 .slide1 p{
  font-family: 'Neue', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 120%;
  color: #9A9A9A;
  margin: 0;
}
.others{
    width: 100%;
    max-width: 9999px;
    margin: auto;
}
.others h1{
    display: flex;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    font-family: 'Neue';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    padding: 120px 0 64px 0;
}
a{
    color: inherit;
    text-decoration: none;
}
@media screen and (max-width:900px) {
    .h6footer1{display: none;}
    .h6footer2{display: block;}
    footer{
        padding: 0;
    }
    .contact h6 {
        max-width: 120px;
        margin-bottom: 64px;
    }
    .contact {
        position: relative;
        display: flex;
        flex-direction: column;
        white-space: wrap;
        height: 390px;
        padding-top: 100px;
        padding: 100px 24px;
    }
    .contactlink{
        display: flex;
        position: relative;
        width: 100%;
        max-width: 900px;
    }
    .contactlink p{
        max-width: 850px;

    }
    .contactlink a{
        font-size: 12px;
        margin-top: 16px;
    }
    .contactsocials{
        position: relative;
        top: 0px;
        padding: 0;
    }
    .signatureH {
        font-size: 22vw;
        padding: 0 20px;
    }
    .swiper1 {
      width: 340px;
      padding: 0 10px
    }
}
@media screen and (max-width:790px) {
    footer{
        padding: 0;
    }
    .contact h6 {
        width: 100%;
        max-width: 110px;
        margin-bottom: 64px;
    }
    .contact {
        position: relative;
        display: flex;
        flex-direction: column;
        white-space: wrap;
        height: 390px;
        padding-top: 100px;
        padding: 100px 24px;
    }
    .contactlink{
        display: flex;
        position: relative;
        width: 100%;
        max-width: 900px;
        padding: 0;
    }
    .contactlink a{
        font-size: 12px;
        margin-top: 16px;
    }
    .signatureH {
    font-size: 21.5vw;
    }
}