.iridium-page .cover video {
    width: 100%;
    max-width: 9909px;
    margin: auto;
    object-fit: cover;
    height: 100%;
    max-height: 600px;
    object-position: center;
}

.iridium-page .aboutcontainer {
    padding-bottom: 100px;
}

.iridium-page .about {
    display: flex;
    flex-direction: column;
    max-width: 1500px;
    width: 100%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    gap: 30px;
}

.iridium-page .firstabout {
    margin-bottom: 0 !important;
    padding-bottom: 40px !important;
}

.iridium-page #h6-w {
    color: var(--text-dark);
    grid-column-start: 1;
    grid-row-start: 2;
    font-size: 16px;
    font-style: normal;
    margin: 16px 0 0 0;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.iridium-page .frames1 {
    width: 100%;
    max-width: 9999px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.iridium-page .frames1 img,
.iridium-page .frames1 video {
    width: 100%;
    max-width: 9999px;
    margin: auto;
}

@media screen and (max-width: 900px) {
    .iridium-page .about {
        margin-top: 32px;
        margin-bottom: 32px;
        gap: 0;
    }

    .iridium-page .aboutcontainer {
        padding-bottom: 32px;
    }

    .iridium-page .firstabout {
        padding-bottom: 16px !important;
    }

    .iridium-page .aboutgrid {
        display: flex !important;
        flex-direction: column !important;
        grid-template-columns: none !important;
        margin: 0 auto;
        padding: 0 24px;
    }

    .iridium-page #aboutgrid1 h1 {
        font-size: 32px;
        font-weight: 500;
        margin: 0;
        margin-bottom: 16px;
    }

    .iridium-page #h6-w {
        display: none;
    }

    .iridium-page #h6-m {
        display: block;
        font-size: 16px;
        margin: 0;
        margin-bottom: 24px;
        font-weight: 600;
        text-align: left;
    }

    .iridium-page #aboutgrid1 h5,
    .iridium-page .about h6,
    .iridium-page .aboutgrid h5 {
        margin-bottom: 16px;
    }

    .iridium-page .about2 {
        margin-top: 24px;
    }

    .iridium-page #aboutgrid1 p,
    .iridium-page .about p {
        font-family: 'Neue', sans-serif;
        font-size: 26px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
    }

    .iridium-page .about2 p {
        font-family: 'Neue', sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 120%;
    }

    .iridium-page .aboutgrid h5 {
        font-size: 14px;
        margin-bottom: 16px;
    }

    .iridium-page .aboutgrid h6 {
        margin-bottom: 24px;
        text-align: left;
    }

    .iridium-page #aboutgrid1 #p2-1 {
        font-size: 14px;
    }
}
