.supernova-page .cover video{
    width: 100%;
    max-width: 9909px;
    margin: auto;
    object-fit: cover;
    height: 100%;
    max-height: 600px;
    object-position: bottom;
}
.about{
    max-width: 100%;
    width: 100%;
    max-width: 1500px;
    margin: auto;
    margin-top: 120px;
    margin-bottom: 120px;
}
.aboutgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 100%;
    width: 100%;
    max-width: 1500px;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
}
.about2{
    color: #909090;
    font-size: 12px;
    margin-top: 64px;
}
#aboutgrid1{
    grid-template-columns: 1.8fr 0.2fr 1fr;
}
#aboutgrid1 h1{
    grid-column-start: 1;
    grid-row-start: 1;
    font-size: 74px;
    font-style: normal;
    font-weight: 500;
    line-height: 92%; /* 68.08px */
    text-transform: uppercase;
    word-wrap: break-word;      /* IE 5.5-7 */
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-wrap;     
    margin: 0;
    color: #000;
}
#h6-w{ /* ajustar a responsividade ao alcançar o width da tela a partir de 1400px */
    color: #000;
    grid-column-start: 1;
    grid-row-start: 1;
    font-size: 16px;
    font-style: normal;
    margin: -70px auto;
    margin-left: 5px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
} 
#aboutgrid1 h5{
    font-family: 'CommitMono', sans-serif;
    grid-column-start: 2;
    grid-column-end: 2;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}
#about2 h5{
    font-family: 'CommitMono', sans-serif;
    grid-column-start: 2;
    grid-column-end: 2;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

}
#aboutgrid1 p{
    grid-column-start: 3;
    grid-column-end: 3;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
#aboutgrid1 a{
    text-decoration: underline;
}
.aboutgrid h1{
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 74px;
    font-style: normal;
    font-weight: 500;
    line-height: 92%; /* 68.08px */
    text-transform: uppercase;
    word-wrap: break-word;      /* IE 5.5-7 */
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-wrap;     
    margin: 80px auto;
    color: #000;
}
.aboutgrid h6{
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.aboutgrid h5{
    font-family: 'CommitMono', sans-serif;
    grid-column-start: 2;
    grid-column-end: 2;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}
.aboutgrid p{
    grid-column-start: 3;
    grid-column-end: 3;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.aboutgrid p a{text-decoration: underline;}
#h6-m{display: none;}
@media screen and (max-width:900px) {
    .aboutgrid {
        display: flex !important;
        flex-direction: column !important;
        grid-template-columns: none !important;
        margin: 40px auto;
        padding: 0 24px;
    }
    #aboutgrid1 h1{
        font-size: 32px;
        font-weight: 500;
        margin: 0;
        margin-bottom: 16px;
    }
    #h6-w{display: none;}
    #h6-m{
        display: block;
        font-size: 16px;
        margin: 0px auto;
        margin-left: 0;
        padding-left: 0px;
        font-weight: 600;
        margin-bottom: 40px;
    }
    #aboutgrid1 h5, .about h6{
        margin-bottom: 32px;
    }
    .about2 {
        margin-top: 48px;
    }
    #aboutgrid1 h5 {
        text-align: left;
    }
    #aboutgrid1 p, .about p{
        font-family: 'Neue', sans-serif;
        font-size: 26px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
    }
    .about2 p{
        font-family: 'Neue', sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 120%;
    }
    .aboutgrid h5{
        font-size: 14px;
        margin-bottom: 24px;
    }
    .aboutgrid h6{
        margin-bottom: 32px;
        text-align: right;
    }
    #aboutgrid1 #p2-1{
        font-size: 14px
    }
}
.printsgrid{
    width: 100%;
    max-width: 1400px;
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}
.printsgrid .grid2{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 40px auto 200px;
    align-items: flex-end;
}
.grid1 {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 50px;
}
@media screen and (max-width:1200px) {
    .printsgrid{
        width: 100%;
        max-width: 1500px;
        margin: auto;
    }
    .printsgrid .grid2{
        float: right;
        height: 100%;
        margin: auto 16px;
        margin-top: 16px;
        margin-bottom: 30px;
    }
    .grid1 {
        margin: auto;
    }
    .grid1 img{
        width: 100%;
    }
    .img-mr {
        float: right;
        margin: auto;
        margin-bottom: 5px;
    }

}

.frames1 {
    width: 100%;
    max-width: 9999px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.frames1 img{
    width: 100%;
    max-width: 9999px;
    margin: auto;
}
.frames1 .img1 {
    margin-top: 110px;
}